#rule-panels li{list-style: none;}
#pc-city-list li{/* list-style:none; display: inline-table;margin:5px; */}
.nearby-city-list li{list-style: none;}
.small-help{font-size: 10px;color:#433C3C;}
.ui-autocomplete{position: absolute;top: 100%;left: 0;z-index: 1000;float: left;display: none;min-width: 160px;_width: 160px;padding: 4px 0;margin: 2px 0 0 0;list-style: none;background-color: #ffffff;border-color: #ccc;border-color: rgba(0, 0, 0, 0.2);border-style: solid;border-width: 1px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);-webkit-background-clip: padding-box;-moz-background-clip: padding;background-clip: padding-box;*border-right-width: 2px;*border-bottom-width: 2px;}
.ui-menu-item > a.ui-corner-all{display: block;padding: 3px 15px;clear: both;font-weight: normal;line-height: 18px;color: #555555;white-space: nowrap;}
&.ui-state-hover, &.ui-state-active{color: #182881;text-decoration: none;background-color: #0088cc;border-radius: 0px;-webkit-border-radius: 0px;-moz-border-radius: 0px;background-image: none;}
.rule-list-panel{  padding: 10px;  border: 1px solid #E3EDFF;  background: #F7F8FF;  margin: 2px;}
.highlight{font-weight: bolder;color:#154FB6;}


/*VERSION ii*/
#search-performer-results li {}
#search-performer-results .artist-found {list-style: none;	line-height: 22px;	font-weight: bold;	font-size: 12px;	border: 1px solid #5294F4;	-webkit-border-radius: 3px;	-moz-border-radius: 3px;	border-radius: 3px;background: #222;}
/* #search-city-results li {width:50%;} */
#search-performer-results .artist-found button {padding: 17px 13px; border-radius: 1px 0px 0px 1px;}
#search-performer-results .artist-found span {color:#fff;}

.similar-performer-li img{	width: 30px !important;	height: 30px !important;}
.similar-performer-li {float:left;list-style: none; line-height: 22px; margin:4px;font-weight: bold;	font-size: 12px;	border: 1px solid #5294F4;	-webkit-border-radius: 3px;	-moz-border-radius: 3px;	border-radius: 3px;background: #222;}
.similar-performer-li button {padding: 10px; border-radius: 1px 0px 0px 1px;}
.similar-performer-li span {color:#fff;}

#search-performer-results li img{width:50px;height: 50px;padding: 2px;}
#current-rules-performer{}
#current-rules-performer li {list-style: none !important;font-weight: bold !important;font-size: 12px !important;border: 1px solid #5294F4 !important;	float: left;margin:3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;padding-right: 0px;background: #222;}
#current-rules-performer li img{width:60px;height: 60px;padding: 2px 15px 2px 2px;}
#current-rules-performer li a {color:#fff;}
#current-rules-performer li button {padding: 22px 15px;border-left: 1px dotted #fff;margin-left: 15px;background: #1791C7;}
#current-rules-performer li button span {font-size: 14px;color:#fff;}


#search-city-results .city-found {list-style: none;	line-height: 22px;	font-weight: bold;	font-size: 12px;	border: 1px solid #5294F4;	-webkit-border-radius: 3px;	-moz-border-radius: 3px;	border-radius: 3px;background: #222;}
/* #search-city-results li {width:50%;} */
#search-city-results .city-found button {padding: 17px 13px; border-radius: 1px 0px 0px 1px;}
#search-city-results .city-found span {color:#fff;}

.nearby {float:left;list-style: none; line-height: 22px; margin:4px;font-weight: bold;	font-size: 12px;	border: 1px solid #5294F4;	-webkit-border-radius: 3px;	-moz-border-radius: 3px;	border-radius: 3px;background: #222;}
.nearby button {padding: 10px; border-radius: 1px 0px 0px 1px;}
.nearby span {color:#fff;}

#current-rules-city li {list-style: none !important;font-weight: bold !important;font-size: 12px !important;border: 1px solid #5294F4 !important;	float: left;margin:3px;	-webkit-border-radius: 3px;	-moz-border-radius: 3px;border-radius: 3px;	padding-right: 0px;background: #222;}
#current-rules-city li a {color:#fff;padding: 15px 5px 15px 15px;}
#current-rules-city li button {padding: 10px 15px;border-left: 1px dotted #fff;margin-left: 15px;background: #1791C7;}
#current-rules-city li button span {font-size: 14px;color:#fff;}

.gender-checks{	padding:5px;}
#genre-list li{	list-style: none !important;	font-weight: bold !important;	font-size: 12px !important;	border: 1px solid #5294F4 !important;	float: left;	margin:3px;	-webkit-border-radius: 3px;	-moz-border-radius: 3px;	border-radius: 3px;	padding: 10px;}
.genreActive{	background: #8DC7FF;}
.similarperformerheader, .nearbyheader{	border: none !important;margin-top: 15px!important;}
.followtitle {text-align: center;margin-top: 0px;font-size: 1.2em !important;}
.usmob-dis {display:none;}
.marg-right, .marg-top, .marg-bottom, .marg-left {margin-right: 20px;}

/*####### Version 2 release notes */

#secondary-navigation .social-media .fb1 {float:left;margin: 10px 10px 0px 10px;width: 55px;}
#secondary-navigation .social-media .tw1 {float:left;margin:10px 8px 0px 1px;width: 60px;}
#secondary-navigation .social-media .gp1 {float:left;margin: 10px 8px 0px 0px;width:25px;}
header nav#secondary-navigation ul li ul li:last-child {margin-right: 0;}

span.box1 {width: 160px; font-size: 14px;padding:5px;display: block;float: left;}
.menu-widget ul li a {font-size: 15px;}
.container[role="main"] #main-content #content .post-single .follow {*zoom: 1;}
.container[role="main"] #main-content #content .post-single .follow:before,
.container[role="main"] #main-content #content .post-single .follow:after {display: table;content: "";line-height: 0;}
.container[role="main"] #main-content #content .post-single .follow:after {clear: both;}
.container[role="main"] #main-content #content .post-single .follow .member {position: relative;margin-bottom: 10px;margin-top: 30px;margin-left: 15px; margin-right: 15px;}
.container[role="main"] #main-content #content .post-single .follow .member .member-thumbnail {position: relative;z-index: 0;width: 120px;height: 120px;-webkit-border-radius: 1000px;-moz-border-radius: 1000px;border-radius: 1000px;overflow: hidden;}
.container[role="main"] #main-content #content .post-single .follow .member .member-thumbnail a {display: block;width: 100%;height: 100%;}
.container[role="main"] #main-content #content .post-single .follow .member .member-thumbnail a img {width: 100%;height: 100%;}
.container[role="main"] #main-content #content .post-single .follow .member .member-menu {margin: 0;padding: 0;list-style: none;z-index: 10;width: 120px;height: 120px;position: absolute;bottom: 0px;left: 0px;-webkit-border-radius: 1000px;-moz-border-radius: 1000px;border-radius: 1000px;}
.container[role="main"] #main-content #content .post-single .follow .member .member-menu .path-wrapper {position: relative;width: 100%;height: 100%;}
.container[role="main"] #main-content #content .post-single .follow .member .member-menu .path-wrapper .overlay {display: block;height: 100%;width: 100%;position: absolute;top: 0px;left: 0px;-webkit-border-radius: 1000px;-moz-border-radius: 1000px;border-radius: 1000px;-webkit-box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.5) inset;-moz-box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.5) inset;box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.5) inset;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
.container[role="main"] #main-content #content .post-single .follow .member .member-menu .path-wrapper .member-data {position: absolute;top: 0px;left: 0px;display: block;margin: 0;padding: 0;width: 100%;height: 100%;-webkit-border-radius: 1000px;-moz-border-radius: 1000px;border-radius: 1000px;background-color: rgba(245, 126, 0, 0.9);text-align: center;color: #ffffff;text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);-webkit-transform: scale(0);-moz-transform: scale(0);-ms-transform: scale(0);-o-transform: scale(0);transform: scale(0);-webkit-transition: all 0.2s linear;-moz-transition: all 0.2s linear;-o-transition: all 0.2s linear;transition: all 0.2s linear;}
.container[role="main"] #main-content #content .post-single .follow .member .member-menu .path-wrapper .member-data h3 {margin: 20px 20px 0 20px;padding: 0;padding-bottom: 0;border-bottom: 1px dotted #eeeeee;font-size: 22px;line-height: 25px;}
.container[role="main"] #main-content #content .post-single .follow .member .member-menu .path-wrapper .member-data .position {font-style: italic;margin-top: 5px;}
.container[role="main"] #main-content #content .post-single .follow .member .member-menu .path-wrapper .path {-webkit-transform: scale(0);-moz-transform: scale(0);-ms-transform: scale(0);-o-transform: scale(0);transform: scale(0);position: relative;margin: 0;padding: 0;list-style: none;width: 100%;height: 100%;-webkit-border-radius: 1000px;-moz-border-radius: 1000px;border-radius: 1000px;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
.container[role="main"] #main-content #content .post-single .follow .member .member-menu .path-wrapper .path .menu {width: 150px;height: 60px;position: absolute;cursor: pointer;top: 60px;left: 60px;}
.container[role="main"] #main-content #content .post-single .follow .member .member-menu .path-wrapper .path .menu span {display: block;font-size: 24px;color: #ffffff;width: 60px;height: 100%;line-height: 60px;text-align: center;background: #333333;-webkit-border-radius: 1000px;-moz-border-radius: 1000px;border-radius: 1000px;-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;float: left;}
.container[role="main"] #main-content #content .post-single .follow .member .member-menu .path-wrapper .path .menu .mob-help {padding: 13px 0 0 0;margin-left: 70px;display:none;}
.container[role="main"] #main-content #content .post-single .follow .member .member-menu .path-wrapper .path .menu .mob-help-bottom {padding: 32px 0 0 0;margin-left: 70px;display:none;}
.container[role="main"] #main-content #content .post-single .follow .member .member-menu .path-wrapper .path .menu.email-menu {-webkit-transition: all 0.15s linear;-moz-transition: all 0.15s linear;-o-transition: all 0.15s linear;transition: all 0.15s linear;}
.container[role="main"] #main-content #content .post-single .follow .member .member-menu .path-wrapper .path .menu.email-menu:hover span {-webkit-transform: scale(1.2);-moz-transform: scale(1.2);-ms-transform: scale(1.2);-o-transform: scale(1.2);transform: scale(1.2);}
.container[role="main"] #main-content #content .post-single .follow .member .member-menu .path-wrapper .path .menu.home-menu {-webkit-transition: all 0.3s linear;-moz-transition: all 0.3s linear;-o-transition: all 0.3s linear;transition: all 0.3s linear;}
.container[role="main"] #main-content #content .post-single .follow .member .member-menu .path-wrapper .path .menu.home-menu:hover span {-webkit-transform: scale(1.2);-moz-transform: scale(1.2);-ms-transform: scale(1.2);-o-transform: scale(1.2);transform: scale(1.2);}
.container[role="main"] #main-content #content .post-single .follow .member .member-menu .path-wrapper .path .menu.social-menu {-webkit-transition: all 0.45s linear;-moz-transition: all 0.45s linear;-o-transition: all 0.45s linear;transition: all 0.45s linear;}
.container[role="main"] #main-content #content .post-single .follow .member .member-menu .path-wrapper .path .menu.social-menu:hover span {-webkit-transform: scale(1.2);-moz-transform: scale(1.2);-ms-transform: scale(1.2);-o-transform: scale(1.2);transform: scale(1.2);}
.container[role="main"] #main-content #content .post-single .follow .member .member-menu .path-wrapper:hover .path {-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);-o-transform: scale(1);transform: scale(1);-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
.container[role="main"] #main-content #content .post-single .follow .member .member-menu .path-wrapper:hover .path .bottom {margin-top: 120px;margin-left: -10px;padding: 10px 10px 0 10px;}
.container[role="main"] #main-content #content .post-single .follow .member .member-menu .path-wrapper:hover .path .top {margin-top: -130px;margin-left: -10px;padding: 0 10px 10px 10px;}
.container[role="main"] #main-content #content .post-single .follow .member .member-menu .path-wrapper:hover .path .right {margin-left: 51px;margin-top: -40px;padding: 10px 0 10px 10px;}
.container[role="main"] #main-content #content .post-single .follow .member .member-menu .path-wrapper:hover .path .left {margin-left: -130px;margin-top: -10px;padding: 10px 10px 10px 0;}
.container[role="main"] #main-content #content .post-single .follow .member .member-menu .path-wrapper:hover .path .bottom-left {margin-top: 67px;margin-left: -92px;padding-right: 25px;padding-top: 25px;}
.container[role="main"] #main-content #content .post-single .follow .member .member-menu .path-wrapper:hover .path .bottom-right {margin-top: 8px;margin-left: 12px;padding-left: 25px;padding-top: 25px;}
.container[role="main"] #main-content #content .post-single .follow .member .member-menu .path-wrapper:hover .path .top-left {margin-top: -92px;margin-left: -92px;padding-bottom: 25px;padding-right: 25px;}
.container[role="main"] #main-content #content .post-single .follow .member .member-menu .path-wrapper:hover .path .top-right {margin-top: -94px;margin-left: 11px;padding-bottom: 25px;padding-left: 25px;}
.container[role="main"] #main-content #content .post-single .follow .member .member-menu .path-wrapper:hover .overlay {-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
.container[role="main"] #main-content #content .post-single .follow .member .member-menu .path-wrapper:hover .member-data {-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);-o-transform: scale(1);transform:}

@media (max-width:979px) {
	.container[role="main"] #main-content #content .post-single .follow .member .member-menu .path-wrapper .path .menu .mob-help {display:block;}
	.container[role="main"] #main-content #content .post-single .follow .member .member-menu .path-wrapper .path .menu .mob-help-bottom {display:block;}
	.container[role="main"] #main-content #content .post-single .follow .member {position: relative;margin-bottom: 10px;margin-top: 30px;margin-left: 15px; margin-right: 60px;}
}

@media (max-width:767px) {
	.usmob-dis {display:block;}
}