/* Sample CSS for Seatics Venue Maps - version of "30 Jan 2013   15:30" 
        See Seatics Interactive Maps Main API Build 0103.0 2013-01-30 for more information
*/
.tn_results_header {width:100%;}
.tn_results_header_title {font-size: 1.2em;margin: 0px 0;font-family: inherit;font-weight: bold;line-height: 20px;color: inherit;text-rendering: optimizelegibility;background: rgb(255, 255, 255) url(/public/img/content-area-bg.png)!important; text-align: left;  -webkit-border-radius: 6px 6px 0 0;  -moz-border-radius: 6px 6px 0 0;  border-radius: 6px 6px 0 0;  -webkit-box-shadow: inset 0px 1px 0px 0px #f5f5f5;  -moz-box-shadow: inset 0px 1px 0px 0px #f5f5f5;  box-shadow: inset 0px 1px 0px 0px #f5f5f5;  background-color: #ebebeb; color: #000 !important;font-weight: bolder;text-shadow: 1px 1px 1px rgb(206, 195, 195); padding-left: 6px;}
.tn_results_header_venue {font-size: 11px;padding-left: 5%;}
.tn_results_header_datetime {font-size: 11px;padding-left: 5%;}
.tn_results_header_text {font-size: 13px;color: #333;font-weight: lighter;}
table.tn_evt_notes {margin: 0;color: rgb(255, 102, 0);}
.ssc_versionSample0103 {width:130130px;/* yymmdd  version date */height:1533px;            /* hhmi  version hour and minute  24hr US ET*/    z-index:01030;            /* version build code */}
td { padding: 8px;}
.ssc_onMapMsg {font-family:Verdana;font-size:8pt;text-align:center;}
body {margin: 0px;}
table { border-collapse:collapse;padding:0;}
#ssc_listAndMapDiv {background: rgb(255, 255, 255) url(/public/img/content-area-bg.png)!important;}
.ssc_listAndMap {border-style:solid; border-width:1px; border-collapse:collapse; border-color:#888888; width:100%; /*     padding: 2px 2px 2px 2px; does what?*/;}

/* =======================TG list header column entries ==========================*/
#ssc_listColHdr {text-align:left;}
#ssc_filterAndListCell {padding:0px;}
.ssc_sortUpArrow, .ssc_sortDnArrow {color:#4961E1;}
.ssc_sortNoArrow {color:#87CEFA;}           

/* for TG list header table */
.ssc_lhTable   {width:100%;table-layout:fixed;border-spacing:0;/* needed to override 2px 2px that comes from somewhere!! */border-collapse:collapse;border: 0px;cursor:pointer;font-family:Segoe UI;font-size:9pt;color:#000000;font-weight:bold;background-color: rgb(206, 206, 206) !important;padding:0;table-layout:fixed;vertical-align:middle;text-align:left;}

/* for TG list header columns */
.ssc_lhMark  {width:4.5%; text-align:center;}
.ssc_lhSec  {width:27.9%; text-align:left;padding-left:2px;}      
.ssc_lhRow  {width:11%; text-align:center;}
.ssc_lhQty  {width:15.3%; text-align:right;padding-right:0px;}            
.ssc_lhPri {width:17.1%;text-align:right;padding-right: 0px; }
.ssc_lhDlv {width:13.5%;text-align:right;padding-right: 0px;}
.ssc_lhBuy     {width:11.7%;}

/* =======================TG list row column entries ==========================*/
    
.ssc_lrTable   {border-collapse:collapse;  /* the table containing each TG's info */table-layout:fixed; width:100%; border: 0px;border-spacing:0;padding: 0px;margin:0;}
.ssc_lrMark, .ssc_lrSec,  .ssc_lrRow  , .ssc_lrQty ,.ssc_lrQtyPlus1, .ssc_lrPri , .ssc_lrDlv, .ssc_lrBuy, .ssc_lrNotes {font-family:Verdana; font-size:9pt;background-color:inherit; color:#000;}
.ssc_lrMark {width:4.5%;/* column goes away if not tgMarks characters are supplied */text-align:center;border:0;padding:0;margin:0;}
.ssc_lrAlt .ssc_lrSec {color:#007700;}                    
.ssc_lrSec {width:27.9%; text-align:left;color:#003750;}            
.ssc_lrRow {width:9.9%; text-align:center;color:#003750;}
.ssc_lrQty {width:14.3%; text-align:right;color:#003750;}
.ssc_lrQtyPlus1 {width:15.3%; text-align:right; color:Green;font-weight:bold;}
.ssc_lrPri {width:17.1%;text-align:right;padding-right: 10px;color:#003750;}
.ssc_lrDlv {width:13.5%;/* the column, itself */text-align:center;color:#003750;padding: 0;}            
.ssc_lrDlvOptIdIcon, .ssc_fltrDlvHintIdIcon {width:20px;height:11px;display:block;margin-left:auto;margin-right:auto;background-image: URL(http://seatics.tickettransaction.com/etkt_green_eticket_icon20x11_tn.png);background-repeat:no-repeat;}           
.ssc_lrDlvOptIdIcon {vertical-align:middle;}
.ssc_lrDlvOptIdLabel, .ssc_fltrDlvHintIdLabel {color:#008000;font-family:Arial;font-size: 11px;font-weight:bold;font-style:italic;text-align:center;}                
.ssc_lrDlvOptEmIcon, .ssc_fltrDlvHintEmIcon {width:20px;height:12px;display:block;margin-left:auto;margin-right:auto;background: URL(http://seatics.tickettransaction.com/etkt_green_eticket_icon20x11_tn.png) no-repeat;}
.ssc_lrDlvOptEmIcon{vertical-align:middle;}               
.ssc_lrDlvOptLpIcon, .ssc_fltrDlvHintLpIcon{width:20px;height:12px;display:none;               /* 'block' to display, 'none' to hide */margin-left:auto;margin-right:auto;background: URL(http://seatics.tickettransaction.com/etkt_blue_lticket_icon20x12_tn.png) no-repeat;}
.ssc_lrDlvOptLpIcon {vertical-align:middle;}
.ssc_lrDlvOptLpLabel, .ssc_fltrDlvHintLpLabel {color:#008;font-family:Arial;font-size: 12px;font-weight:bold;font-style:italic;text-align:center;display:none;               /* 'block' to display, 'none' to hide */}      
.ssc_lrBuy  {width:11.7%;text-align:center;vertical-align:middle;padding-top: 4px;height:100%;padding-bottom: 4px;}            
.ssc_lrNotes   {font-size:7pt;padding-left:2px;}
 
/* =============================  TG list  row control entries ====================== */ 

 .ssc_lrOddOnMap, .ssc_lrEvenOnMap, .ssc_lrOddNotSel, .ssc_lrEvenNotSel, .ssc_lrOddOffMap, .ssc_lrEvenOffMap, .ssc_lrHilite {padding-top:1px; padding-bottom: 1px; vertical-align: middle;border-collapse:collapse;border-width: 1px 0 0px 0; border-style: solid none solid none;                 cursor:default }
.ssc_lrHasVFS  {cursor:pointer;}
.ssc_lrOddOnMap     {background: rgb(235, 235, 235);  border-color: #aaaaaa;}
.ssc_lrEvenOnMap    {background-color:#ffffff; border-color: #AAAAAA;}
.ssc_lrOddNotSel   {background-color:#d8d8d8;  border-color: #AAAAAA;}
.ssc_lrEvenNotSel  {background-color:#d0d0d0; border-color: #AAAAAA;}
.ssc_lrOddOffMap    {background-color:#Fcdddd; border-color: #AAAAAA;}
.ssc_lrEvenOffMap   {background-color:#FCaaaa; border-color: #AAAAAA;}
.ssc_lrOddOnMapParking     {background-color:#ddddaa;  border-color: #aaaaaa;}
.ssc_lrEvenOnMapParking    {background-color:#ffffdd; border-color: #AAAAAA;}
.ssc_lrHilite   {background-color:#EEEEBB;border-color: #AAAAAA #000000 #AAAAAA #000000;}
.ssc_lrBuyBtn  {-webkit-appearance: none;-webkit-border-image: none;-webkit-box-align: center;-webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;-webkit-rtl-ordering: logical;-webkit-user-select: text;-webkit-writing-mode: horizontal-tb;border-bottom-color: rgb(66, 66, 66);border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;border-bottom-style: solid;border-bottom-width: 1px;border-collapse: collapse;border-left-color: rgb(66, 66, 66);border-left-style: solid;border-left-width: 1px;border-right-color: rgb(66, 66, 66);border-right-style: solid;border-right-width: 1px;border-top-color: rgb(66, 66, 66);border-top-left-radius: 3px;border-top-right-radius: 3px;border-top-style: solid;border-top-width: 1px;box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;box-sizing: border-box;color: #fff!important;text-shadow:none!important;cursor: pointer;display: inline-block;font-size: 12px;font-weight: normal;height: 26px;letter-spacing: normal;line-height: 20px;margin-bottom: 0px;margin-left: 0px;margin-right: 0px;margin-top: 0px;padding-bottom: 2px;padding-left: 10px;padding-right: 10px;padding-top: 2px;text-align: center;text-indent: 0px;text-transform: none;vertical-align: middle;white-space: pre;width: 42px;word-spacing: 0px;writing-mode:lr-tb;background-image: linear-gradient(bottom, rgb(0, 102, 150) 23%, rgb(0, 122, 255) 100%)!important;background-image: -o-linear-gradient(bottom, rgb(0, 102, 150) 23%, rgb(0, 122, 255) 100%)!important;background-image: -moz-linear-gradient(bottom, rgb(0, 102, 150) 23%, rgb(0, 122, 255) 100%)!important;background-image: -webkit-linear-gradient(bottom, rgb(0, 102, 150) 23%, rgb(0, 122, 255) 100%)!important;background-image: -ms-linear-gradient(bottom, rgb(0, 102, 150) 23%, rgb(0, 122, 255) 100%)!important;background-image: -webkit-gradient(  linear,  left bottom,  left top,  color-stop(0.23, rgb(0, 102, 150)),  color-stop(1, rgb(0, 122, 255)))!important;}
            
/* =============================== TG list filter control ================================ */ 
#ssc_filterDiv {position:relative;display:block;height: 115px;width:100%;padding: 0px; background-color: whitesmoke;color:#000;text-align:left;vertical-align:top;font-family:Arial;cursor:default; /* keeps from becoming insertion point over text fields*/}                
#ssc_filterHdr {        background-color: #ebebeb !important;background-image: -moz-linear-gradient(top, #f5f5f5, #dddddd) !important;background-image: -ms-linear-gradient(top, #f5f5f5, #dddddd) !important;background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#dddddd)) !important;background-image: -webkit-linear-gradient(top, #f5f5f5, #dddddd) !important;background-image: -o-linear-gradient(top, #f5f5f5, #dddddd) !important;background-image: linear-gradient(top, #f5f5f5, #dddddd) !important;background-repeat: repeat-x !important;filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#f5f5f5', endColorstr='#dddddd', GradientType=0) !important;vertical-align:middle;height:21px;padding-top:4px;width:100%;}
#ssc_filterHdrInvite{font-size:12px;font-weight:bold;color:#000 !important;position:absolute;top:5px;left:5px;}
#ssc_fltrResetEncl  {position:absolute;top:2px;right:5px;}
#ssc_fltrResetBtn  {    font-size:9pt;color: rgb(0, 112, 255) !important;padding-right: 5px;}                             
#ssc_fltrResetBtn:hover {color:#666;}
                    
 /* ================== Filter Price controls ======================*/
#ssc_fltrPri  {   width: auto;padding: 5px 0px 0px 5px;vertical-align:top;color:#000;}
#ssc_fltrPriIntro  {font-size:9pt;font-weight:bold;display: block;padding-left: 7%;}
#ssc_fltrPriValues {height:25px;display:block;text-align:left;margin-bottom: 5px;width: 100%;padding-left: 5%;}
#ssc_fltrPriMin, #ssc_fltrPriMax {font-size:8pt;border: 1px solid #CCC;width: auto;padding-left: 2px;}
#ssc_fltrPriMinMaxSep {font-size:9pt;}
#ssc_fltrPriSelect  {display:block;width: 70%;position:relative;left: 15px;top:3px;}
.ssc_fltrPriCsBefore, .ssc_fltrPriCsAfter   { font-family:Arial;font-size:9pt;}

 /* ------------------------- TN additions to jqueryUI CSS ------------------- */
.ui-slider .ui-slider-handle { cursor: pointer; background-color:#AAA;} /* gets the movable elements */
.ui-slider .ui-slider-range { cursor: pointer; background-color:#1791C7!important; } /* gets the range bar */                  

/* =========================== Filter Quantity controls ============================= */
#ssc_fltrQty {width:auto;height:60px;vertical-align:top;border: 0 !important;}
#ssc_fltrQty table {border:0px !important;}
#ssc_fltrQtyIntro {font-size:9pt; font-weight:bold;display:block;z-index:22;color:#000;}

/* the position and size of the div containing the qty select box/pull-down */
#ssc_fltrQtySelectEncl    {display:block;width: 56px;height:20px;}

/* the font to be used for the display of the selected Qty */               
#ssc_fltrQtySelect    {font-size:9pt;text-align:center;/*height:16px;  shortening it makes it look terrible on IE 7,...*/width: 65px;vertical-align:middle;padding-bottom:0px;padding-top:0;border: 1px solid #CCC;cursor:pointer;padding: 0px;}
                
/* the font to be used for the items in the qty pull-down when extended */
.ssc_fltrQtySelValues {font-size:12pt;text-align:right;padding-right:-2px;}
#ssc_fltrQtyPlus1Encl {font-size:8pt; text-decoration:none; width: 90px;cursor:pointer;vertical-align:top;visibility:visible;         /* set to "hidden" to suppress display of plus1 offer. "visible" to allow it */}
.ssc_fltrHidden     {visibility:hidden !important;} /* used to override visible setting when conditions to show aren't met */
#ssc_fltrQtyShowPlus1, #ssc_showPlus1Label  {cursor:pointer;}

/* Hint is just inside ssc_fiterDiv -- for position calculations */
#ssc_fltrQtyPlus1Hint {background-color:#ffc;border: 1px solid #ff0000; display:none; color:#000000;font-family:Arial;font-size:9pt; text-align:center;position:absolute; left:0px;top:0px;width:100%; z-index:40;}
              
/* ================== Filter Delivery choice  controls ======================*/
/* many of these class/id locators are built dynamically so may not be found with a search of the code */
#ssc_fltrDlv {padding: 5px 0 0 0;height:60px;color:#000;}
#ssc_fltrDlvIntro  {font-size:9pt; font-weight:bold;vertical-align:top;}
#ssc_fltrDlvHintBtn {vertical-align:top;cursor:pointer;}
#ssc_fltrDlvEtkt  { display:block;      /* set to 'none' to hide the option */position:relative;vertical-align:top;cursor:pointer; /* 2013-01-09 cursor:pointer needs to be HERE vs in the ckbox and label styles so override by disabled class works in IE */                }                
#ssc_fltrDlvEtktCkBx {}
#ssc_fltrDlvEtktLabel  {font-size: 9pt; font-weight:bold;display:inline;position:relative;top: 3px;left: 5px;}
#ssc_fltrDlvEtktLabel:after  {content: URL(http://seatics.tickettransaction.com/etkt_green_eticket_icon20x12_tn.png);}
#ssc_fltrDlvLclPu  {display:none;/* set to "none" to hide the option; "block" to show it */}
#ssc_fltrDlvLclPuCkBx { cursor:pointer;}
#ssc_fltrDlvLclPuLabel  {font-size:9pt; font-weight:bold;display:inline;position:relative;top:-2px;cursor:pointer;}
#ssc_fltrDlvLclPuLabel:after  {content: URL(http://seatics.tickettransaction.com/etkt_blue_lticket_icon20x12_tn.png);}
.ssc_fltrDlvLclPuIcon { width:20px;height:11px;background: URL(http://seatics.tickettransaction.com/etkt_green_eticket_icon20x11_tn.png) no-repeat scroll 0 0 transparent;margin:0 auto;}
.ssc_fltrDlvDisabled { cursor:default !important;   color:#808080;}   
                
/* ==================== Filter Delivery method hint ============================= */
#ssc_fltrDlvHint    {cursor:pointer;width:300px;}           
#ssc_fltrDlvHintHdr {width: 300px;}
#ssc_fltrDlvHintHdrText {font-size:16px;float:left;font-weight:bold;vertical-align:top;}
#ssc_fltrDlvHintCloseText {font-size:12px;font-weight:bold;vertical-align:top;text-align:right;}
#ssc_fltrDlvHintCloseBtn:after {vertical-align:middle;content: URL(http://seatics.tickettransaction.com/etktcloseBtn_tn.png);text-align:right;}

/* ==== sytles for ALL filter delivery option rows ===== */
                     
.ssc_fltrDlvHintSymbol {vertical-align:top;font-family:Arial;font-size:12px;font-weight:bold;font-style:italic;color:#008000;padding: 14px;/*width:42px;*/border:0;}                
.ssc_fltrDlvHintDescr {/*width:210px;*/font-size:11px;vertical-align:top;padding: 10px;border:0;}
#ssc_fltrDlvHintEm      {   display:table-row;  /* set to 'table-row' to show local pickup hint info; 'none' to hide */} 
#ssc_fltrDlvHintId      {   display:table-row;  /* set to 'table-row' to show local pickup hint info; 'none' to hide */}
#ssc_fltrDlvHintLp      {   display:none;   /* set to 'table-row' to show local pickup hint info; 'none' to hide */}
#ssc_fltrDlvHintFtr         { width:300px;}
#ssc_fltrDlvHintFtrText {font-size:11px;font-weight:normal;vertical-align:top;}
#ssc_filterUpdateCt  {width:15px; height:20px; font-family:Verdana; font-size:10pt;color:#fff;             margin-top:0px;position:absolute;left:300px;top:5px;}
#ssc_tktGroups {height:480px;overflow-y:scroll;overflow-x:hidden;text-align:left;cursor:default;}
.ssc_notOnMapBktHdrTxt  {font-family:Verdana;font-size:11px;color:#000000;background-color:#FFAAAA;text-align:center;vertical-align:middle;height:19px;padding-top: 3px;width:100%;}
.ssc_selectedBktHdrTxt  {font-family:Verdana; font-size:  11px;background-color: rgb(247, 247, 247) !important;text-align:center; height:19px; padding-top:3px;width:100%;color:#000;}
.ssc_notSelBktHdrTxt {font-family:Verdana; font-size: 11px;  color:#000000background-color:#bbbbbb; text-align:center; height:19px; width:100%;padding-top:3px;}
.ssc_noneInCritHdrTxt {font-family:Verdana; font-size: 8pt; font-weight:bold; background-color:#FFD700; text-align:center; height:auto; /*  to allow height to match text. was height:30px; */padding:2px 0;width:470px;}
.ssc_selectedParkingBktHdrTxt  {font-family:Verdana; font-size:  11px;background-color:#ffffdd; text-align:center; height:19px; padding-top:3px;width:100%;}
#ssc_vfsDiv {border-color:#880000;border-style:none;border-collapse:collapse;position:relative;display:none;overflow:hidden;height:306px;text-align:left;top:0px;left:0px;}
#ssc_vfsTbl {background-color:#222222;text-align:left;vertical-align:middle;border-style:none;height:306px;position:relative;}             
#ssc_vfsImage0, #ssc_vfsImage1   {border-style:none;padding:0 0 0 0;vertical-align:middle;height:306px;width:410px;}
.ssc_vfsImage {border-style:none;padding:0 0 0 0;vertical-align:middle;height:306px;width:410px;}
#ssc_vfsImageDiv0, #ssc_vfsImageDiv1 {text-align:center;vertical-align:middle;overflow:hidden;display:inline;position:absolute;top:0px;left:29px;height:306px;width:410px;}
#ssc_vfsImageCell {height:306px;width:410px;text-align:center;vertical-align:bottom;background-color:#666666;}                     
.ssc_vfsImageError {font-family:Verdana;color:#FFFFFF;font-size:12pt;font-weight:bold;text-align:center;vertical-align:middle;height:100%;width:100%;}
#ssc_vfsLeftArrow, #ssc_vfsRightArrow {font-family:Verdana;font-size:18pt;font-weight:bolder;text-align:center;color:#00cc00; cursor:pointer;text-decoration:none; outline:none;}
.ssc_vfsPanCell {width:29px}
#ssc_vfsHdr  {width:410px;position:absolute;top:0px;left:29px;background-color:#333333;opacity:0.8;filter:alpha(opacity=80);}
#ssc_vfsCaption {font-family:Verdana; font-size:10pt;color:#ffffff;text-align:left;}
#ssc_vfsClose {font-size:12px;font-family:Verdana,sans-serif;color:#ffffff;background-color:#333333;border-style:none;border-color:#ff0000;border-width:0px;cursor:pointer;}
#ssc_vfsClose:hover {color:#888888;}
.ssc_vfsEnable:before {font-family:zzhold;content:'zzclick';}
#ssc_tktListDiv {position:relative;top:0px;left: 0;}
#ssc_mapCell {text-align:center;vertical-align:top;height:525px;width: 400px;}
.ssc_sectionHiliteColor {color:#FFFF00;}
.ssc_sectionInListColor {color:#0C3;}
.ssc_sectionNoSeatsColor {color:#FFF;}
.ssc_sectionNotInListColor {color:#AFA;}
.ssc_sectionSelectColor {color:#F00;}
#ssc_zonePopupContainer {background-color:lime;}


.breadcrumb ul {margin-left: 0px;}
.breadcrumb .why-buy li {float: none;display: block;background: url('/public/img/checkmark.png') left no-repeat;padding-left: 15px;}
.asob {margin-left:0px;}
.whybuytext {}
.wb-check {margin:8px 0px 0px 25px;}

@media (max-width: 979px) and (min-width: 768px) {
	.wb-check {margin:8px 0px 0px 0px;}
	.whybuytext img {display: none;}
}
@media (max-width: 767px) {
	.asob {margin-bottom: 15px;}
}
@media (max-width: 450px) {
	.breadcrumb {display: none;}
}
select {width:50px!important;}
.tn_results_header_divider {display:none;}

@media (min-width:1200px) {
#ssc_mapCell {width: 525px;}
}

@media (max-width: 980px) {
#ssc_mapCell {display: none;}

}